@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 48 96% 57%;
    --primary-foreground: 45 100% 4%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 48 96% 57%;
    --card: 240 10% 3.9%;
    --card-foreground: 48 96% 57%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 48 96% 57%;
    --primary: 45 93% 47%;
    --primary-foreground: 45 100% 4%;
    --secondary: 240 4% 10%;
    --secondary-foreground: 48 96% 57%;
    --muted: 240 4% 10%;
    --muted-foreground: 240 4% 40%;
    --accent: 240 4% 10%;
    --accent-foreground: 48 96% 57%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 4% 15%;
    --input: 240 4% 15%;
    --ring: 45 93% 47%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animated-gradient-border {
    position: relative;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
  .animated-gradient-border::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(to right, #facc15, #eab308, #d97706, #facc15);
    background-size: 400% 400%;
    animation: gradient-animation 6s ease infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .animated-gradient-border:hover::before {
    opacity: 1;
  }

  @keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
}
